head
	meta(
		charset='utf-8' )

	meta(
		name='description',
		content='' )

	meta(
		name='keywords',
		content='' )

	meta(
		name='robots',
		content='all' )

	meta(
		name='author',
		content='Libris' )
	
	meta(
		name='viewport',
		content='width=device-width, initial-scale=1' )
	
	title Document

	link(
		rel='shortcut icon',
		href='favicon.ico' )

	link(
		rel='apple-touch-icon-precomposed',
		href='favicon.png' )

	link(
		rel='stylesheet',
		href='dist/css/all.min.css' )

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
	<![endif]-->

	include ../../mixins/_index.pug